@media screen and (max-width:1075px) {

    /*--NOSOTROS-MEDIA--*/
    .heroNosotros {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-image: url(../img/nosotros-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        .logo {
            width: 500px;
            height: 110px;
            border-radius: 3rem;
            margin-top: 30px;
            margin-bottom: 30px;
            background-image: url(../img/Logo-1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        p {
            font-weight: 800;
            font-size: 30px;
            text-align: center;
            margin-top: 25px;
            color: black;
            text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.4);
        }

        h2 {
            font-size: 30px;
            text-align: center;
            margin-top: 20px;
        }

        .botones {
            div {
                width: 800px;
                height: 200px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                button {
                    width: 220px;
                    height: 60px;
                    font-size: 40px;
                    border-radius: 1rem;
                    background-color: #ccbcac;
                }
            }
        }
    }


    .procesoNosotros {
        h3 {
            background-color: black;
            color: white;
            text-align: center;
            font-size: 40px;
            font-weight: 400;
        }

        h4 {
            margin-top: 30px;
            font-size: 25px;
            text-align: center;
        }

        .eleccionEsencias {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            div {
                p {
                    font-size: 30px;
                    margin-left: 30px;
                }
            }

            img {
                border-radius: 5rem;
                width: 400px;
                height: 250px;
            }
        }

        .eleccionEsenciasReverse {
            div {
                h4 {
                    font-size: 34px;
                }

                p {
                    font-size: 30px;
                    margin-left: 30px;
                }
            }

            img {
                border-radius: 5rem;
                width: 400px;
                height: 250px;
            }
        }

        .eleccionEsenciasColumn {
            div {
                p {
                    font-size: 30px;
                    margin-left: 30px;
                }
            }

            div {
                img {
                    border-radius: 5rem;
                    margin: 80px;
                    width: 330px;
                    height: 500px;
                }
            }
        }

        .eleccionEsenciasFinal {
            div {
                p {
                    font-size: 30px;
                    margin-left: 30px;
                }
            }

            div {
                img {
                    border-radius: 5rem;
                    margin: 40px;
                    width: 200px;
                    height: 240px;
                }
            }
        }
    }
}

@media screen and (max-width:900px) {

    /*--INICIO-MEDIA--*/
    header {
        background: #2b3035;
        padding: 5px;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            text-align: center;
            font-size: 3rem;
            font-family: 'Quattrocento';
            font-weight: 200;
            color: #f4ece4;
        }

        nav {
            ul {
                list-style: none;
                font-size: 20px;
                display: flex;

                li {
                    margin-right: 10px;

                    a {
                        text-decoration: none;
                        color: #f4ece4;
                        font-size: 20px
                    }
                }
            }
        }
    }

    .heroSect {
        div {
            width: 350px;
            height: 150px;
            font-size: 60px;
            border: 3px #00000088 double;
            padding: 10px;
            margin-top: 15px;
            background-image: url(../img/Logo-1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

        }

        p {
            font-weight: bold;
            font-size: 30px;
            margin-top: 10px;
            text-align: center;
        }
    }

    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px;

        .segundo-item {
            grid-row: span 2;
        }

        .tercer-item {
            grid-column: span 1;
        }
    }

    .infoContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top: rgba(0, 0, 0, 0.623);
        outline-style: double;
        background-color: #f4ece4;
    }

    .reverse {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: none;
        outline-style: none;

        h3 {
            text-align: center;
        }
    }

    .infoContainer {
        div {
            width: 40%;

            h2 {
                font-size: 30px;

                p {
                    font-size: 20px;

                }
            }
        }

        img {
            width: 400px;
            height: 300px;
        }
    }

    /*--NOSOTROS-MEDIA--*/
    .botones {
        div {
            width: 600px;
            height: 200px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            button {
                width: 170px;
                height: 50px;
                font-size: 40px;
                border-radius: 1rem;
                background-color: #ccbcac;
            }
        }
    }

    .procesoNosotros {
        .eleccionEsenciasColumn {
            img {
                border-radius: 5rem;
                margin: 50px;
                width: 300px;
                height: 400px;
            }
        }

        .eleccionEsenciasFinal {
            height: 100%;

            div {
                p {
                    font-size: 30px;
                    margin-left: 30px;
                }
            }

            img {
                border-radius: 4rem;
                margin: 20px;
                width: 200px;
                height: 220px;
            }
        }
    }

    /*--PRODUCTOS-MEDIA--*/
    .nuestrosProductos {
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        div {
            width: 600px;
            height: 400px;
            margin-left: 30px;
        }

        img {
            border-radius: 4rem;
            width: 500px;
            height: 350px;
        }
    }

    /*-CONTACTO-MEDIA--*/
    .formContainer {
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        img {
            display: none;
        }

        .formulario {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            background-image: url(../img/fondo-contacto.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .mb-3 {
                width: 400px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                .row {
                    width: 400px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .form-label {
                width: 100px;
                text-align: center;
                margin: 0;
            }

            .select {
                width: 400px;
                height: 150px;
                margin-top: 30px;
            }

            .form-floating {
                .form-control {
                    width: 400px;
                }
            }

            .buttonContainer {
                width: 400px;
                height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

}

@media screen and (max-width:700px) {

    /*--INICIO-MEDIA--*/
    header {
        background: #2b3035;
        padding: 5px;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            text-align: center;
            font-size: 3rem;
            font-family: 'Quattrocento';
            font-weight: 200;
            color: #f4ece4;

        }

        ul {
            list-style: none;
            font-size: 20px;
            display: flex;

            li {
                margin-right: 10px;

                a {
                    text-decoration: none;
                    color: #f4ece4;
                    font-size: 20px
                }
            }
        }
    }

    .heroSect {
        div {
            width: 350px;
            height: 150px;
            font-size: 60px;
            border: 3px #00000088 double;
            padding: 10px;
            margin-top: 15px;
            background-image: url(../img/Logo-1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        p {
            font-weight: bold;
            font-size: 30px;
            margin-top: 10px;
            text-align: center;
        }
    }

    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px;

        .segundo-item {
            grid-row: span 2;
        }

        .tercer-item {
            grid-column: span 1;
        }
    }

    .infoContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top: rgba(0, 0, 0, 0.623);
        outline-style: double;
        background-color: #f4ece4;

        div {
            width: 30%;

            h2 {
                font-size: 25px;
                margin-bottom: 10px;
            }

            p {
                font-size: 18px;
            }
        }

        img {
            width: 425px;
            height: 350px;
        }
    }

    .reverse {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: none;
        outline-style: none;

        h3 {
            text-align: center;
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 25px;

        h2 {
            font-size: 40px;
        }

        div {
            img {
                margin: 10px;
                padding: 10px;
            }
        }
    }

    /*--NOSOTROS-MEDIA--*/
    .procesoNosotros {
        h2 {
            background-color: black;
            color: white;
            text-align: center;
            font-size: 35px;
            font-weight: 400;
        }

        h4 {
            margin-top: 30px;
            font-size: 25px;
            text-align: center;
        }

        .eleccionEsencias {
            div {
                p {
                    font-size: 25px;
                    margin-left: 20px;
                }
            }

            img {
                border-radius: 5rem;
                width: 350px;
                height: 200px;
            }
        }

        .eleccionEsenciasReverse {
            div {
                h4 {
                    margin-bottom: 10px;
                    font-size: 25px;
                }

                p {
                    font-size: 20px;
                    margin-left: 10px;
                }
            }

            img {
                margin-top: 10px;
                border-radius: 5rem;
                width: 500px;
                height: 250px;
            }
        }

        .eleccionEsenciasColumn {
            div {
                p {
                    font-size: 25px;
                    margin-left: 20px;
                }
            }

            img {
                border-radius: 5rem;
                margin: 10px;
                width: 180px;
                height: 250px;
            }
        }

        .eleccionEsenciasFinal {
            div {
                p {
                    font-size: 25px;
                    margin-left: 20px;
                }
            }

            img {
                border-radius: 5rem;
                margin: 10px;
                width: 180px;
                height: 240px;
            }
        }
    }

    /*--PRODUCTOS-MEDIA--*/
    .nuestrosProductos{
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        div{
            width: 400px;
        height: 300px;
        margin-left: 30px;
            h1{
                font-size: 30px;
            }
            p{
                font-size: 20px;
            }
        }
        img{
            border-radius: 4rem;
        width: 400px;
        height: 300px;
        }
    }
}

@media screen and (max-width:630px){
    .infoContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: rgba(0, 0, 0, 0.623);
        outline-style: double;
        background-color: #f4ece4;
        div{
            width: 40%;
            h2{
                font-size: 25px;
        margin-bottom: 10px;
        text-align: center;
            }
            p{
                font-size: 15px;
        text-align: center;
            }
        }
        img{
            width: 300px;
        height: 200px;
        }
    }
    .reverse{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: none;
        outline-style: none;
        h3{
            text-align: center;
        }
    }
    .Productos-container{
        h2{
            font-size:px;
        background-color: #f4ece4;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 5px;
        }
        .card-flex{
            display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        div{
            font-size: 20px;
        width: 350px;
        border: 2px double rgb(0, 0, 0);
        margin: 30px;
        text-align: center;
        box-shadow: -7px 9px 34px 7px #e7c8aa;
        -webkit-box-shadow: -7px 9px 34px 7px #f8d4af;
        -moz-box-shadow: -7px 9px 34px 7px #f1cdae;
        background-color: #f4ece4;
        img{
            width: 345px;
        }
        button{
            color: rgb(255, 255, 255);
        background-color: black;
        padding: 10px;
        margin:10px;
        border-radius: 3rem;
        }
        }
        }
    }
    .position{
        display: none;
    }

    /*--NOSOTROS-MEDIA--*/
    .heroNosotros{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-image: url(../img/nosotros-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        .logo{
            width: 300px;
        height: 200px;
        border-radius: 3rem;
        margin-top: 10px;
        margin-bottom: 10px;
        background-image: url(../img/Logo-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        }
        p{
            font-weight: 800;
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
        color: black;
        text-shadow: 0px 6px 4px rgba(0,0,0,0.4);

        }
        h2{
            font-size: 10px;
        text-align: center;

        }
        .botones{
            div{
                width: 300px;
        height: 150px;
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly;
        align-items: center;
        button{
            width: 100px;
            height: 30px;
            font-size: 20px;
            border-radius: 1rem;
            background-color: #ccbcac;
        }
            }
        }
    }
    .procesoNosotros{
        h3{
            background-color: black;
        color: white;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        }
        h4{
            margin-top: 20px;
        font-size: 20px;
        text-align: center;
        }
        .eleccionEsencias{
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            p{
                font-size: 25px;
        margin-left: 25px;
            }
        }
        img{
            border-radius: 3rem;
        width: 100%;
        height: 250px;
        }
        }
        .eleccionEsenciasReverse{
            flex-direction: column;
            div{
                h4{
                    font-size: 28px;
                }
                p{
                    font-size: 25px;
        margin-left: 25px;
                }
            }
            img{
                border-radius: 3rem;
        width: 100%;
        height: 250px;
        }
    }
    .eleccionEsenciasColumn{
        div{
            p{
                font-size: 25px;
        margin-left: 25px;
            }
        }
        img{
            border-radius: 4rem;
        margin: 10px;
        width: 220px;
        height: 200px;
        }
    }
    .eleccionEsenciasFinal{
        div{
            p{
                font-size: 25px;
        margin-left: 25px;
    
            }
        }
        img{
            border-radius: 4rem;
            margin: 15px;
            width: 210px;
            height: 220px;
        }
    }
}
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        h2{
            font-size: 30px;
        }
        div{
            img{
                width: 60px;
        margin: 10px;
        padding: 10px;
            }
        }
    }

/*--PRODUCTOS-MEDIA--*/
.nuestrosProductos{
    height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    div{
        width: 300px;
        height: 225px;
        margin-left: 30px;
        h1{
            font-size: 30px;
        text-align: center;

        }
        p{
            font-size: 20px;
        text-align: center;

        }
    }
    img{
        border-radius: 4rem;
        width: 300px;
        height: 225px;

    }
}
/*UTILIZACION-MEDIA*/
.utilizacionDos{
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 25px;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: circle;
        li{
            font-size: 20px;
            margin-left: 20px;
            margin-right: 20px;
            
        }
    }
}
}

@media screen and (max-width:515px){
    /*--INICIO-MEDIA--*/
    .infoContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: rgba(0, 0, 0, 0.623);
        outline-style: double;
        background-color: #f4ece4;
        div{
            width: 100%;
            h2{
                font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
            }
            p{
                font-size: 15px;
        text-align: center;
            }
        }
        img{
            width: 250px;
        height: 150px;
        }
    }
    .reverse{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: none;
        outline-style: none;
    }
        h3{
            text-align: center;
        }

/*--PRODUCTOS-MEDIA--*/
        .nuestrosProductos{
            height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            div{
                width: 300px;
        height: 225px;
        margin-left: 30px;
                h1{
                    font-size: 30px;
        text-align: center;
                }
                p{
                    font-size: 20px;
        text-align: center;
                }
            }
            img{
                border-radius: 4rem;
        width: 400px;
        height: 250px;
            }
        }
}

@media screen and (max-width:470px){
    /*--INICIO-MEDIA--*/
    header{
        h1{
            text-align: center;
        font-size: 2rem;
        font-family:'Quattrocento';
        font-weight: 200;
        color: #f4ece4;
        }
        nav{
            ul{
                list-style: none;
        font-size: 20px;
        display: flex;
                li{
                    margin-right: 10px;
                    a{
                        text-decoration: none;
        color: #f4ece4;
        font-size: 18px;
                    }
                }
            }
        }
    }
    .heroSect{
        width: 100%;
        height: calc(100vh - 72px);
        background-image: url(../img/nosotros-1.jpg);
        background-position: center;
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment: fixed;
        color: #000000d8;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            width: 300px;
        height: 100px;
        border: 3px #00000088 double;
        padding: 10px;
        margin-top: 15px;
        background-image: url(../img/Logo-1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
        p{
            font-size: 25px;
            margin-top: 15px;
            text-align: center;
        }
    }
    .infoContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: rgba(0, 0, 0, 0.623);
        outline-style: double;
        background-color: #f4ece4;
        div{
            h2{
                font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
            }
            p{
                font-size: 15px;
        text-align: center;
            }
        }
        img{
            width: 250px;
        height: 150px;
        }
    }
    .reverse{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: none;
        outline-style: none;
        h3{
            text-align: center;
        }
    }
    .Productos-container{
        h2{
            font-size:25px;
        background-color: #f4ece4;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 5px;
        }
        .card-flex{
            div{
                font-size: 18px;
                width: 350px;
                border: 2px double rgb(0, 0, 0);
                margin: 30px;
                text-align: center;
                box-shadow: -7px 9px 34px 7px #e7c8aa;
                -webkit-box-shadow: -7px 9px 34px 7px #f8d4af;
                -moz-box-shadow: -7px 9px 34px 7px #f1cdae;
                background-color: #f4ece4;
            }
        }
    }

    /*--PRODUCTOS-MEDIA--*/
    .nuestrosProductos{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            width: 300px;
        height: 225px;
        margin-left: 30px;
            h1{
                font-size: 30px;
        text-align: center;
            }
            p{
                font-size: 20px;
        text-align: center;
            }
        }
        img{
            border-radius: 4rem;
        width: 350px;
        height: 250px;
        }
    }

    /*--CONTACTO-MEDIA--*/
    .formContainer{
        .formContainer{
            height: 100vh;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
        }
        img{
            width: 50%;
        height: 100%;

        }
        .formulario{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            background-image: url(../img/fondo-contacto.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .mb-3{
                width: 400px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .row{
            width: 400px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
            }
            .row{
                flex-direction: column;
            }
            .form-label{
                width: 100px;
        text-align: center;
        margin: 0;
            }
            .select{
                width: 200px;
        height: 150px;
        margin-top: 30px;
            }
            .form-floating{
                .form-control{
                    width: 200px;
        display: flex;
        flex-direction: column;
                }
            }
            .buttonContainer{
                width: 400px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
            }
        }
    }
    /*NOSOTROS-MEDIA*/
    .procesoNosotros{
        h3{
            background-color: black;
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        }
        h4{
            margin-top: 15px;
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        }
        .eleccionEsencias{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div{
                p{
                    font-size: 20px;
            margin-left: 0px;
            text-align: center;
                }
            }
            img{
                border-radius: 3rem;
                width: 100%;
                height: 250px;
                margin-top: 5px;
            }
        }
        .eleccionEsenciasReverse{
            div{
                h4{
                    font-size: 25px;
                }
                p{
                    font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
                }
            }
            img{
                border-radius: 3rem;
            width: 100%;
            height: 250px;
            }
        }
        .eleccionEsenciasColumn{
            div{
                p{
                    font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
                }
            }
            div{
                img{
                    border-radius: 4rem;
                    margin: 0px;
                    width: 220px;
                    height: 200px;
                }
            }
        }
        .eleccionEsenciasFinal{
            div{
                p{
                    font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
                }
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    border-radius: 4rem;
                    margin: 15px;
                    width: 210px;
                    height: 220px;
                }
            }
        }
    }
}

@media screen and (max-width:350px){
    /*--INICIO-MEDIA--*/
    header{
        background: #2b3035;
        padding: 5px;
        position: sticky;
        top: 0;
        background-attachment: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            text-align: center;
        font-size: 1.5rem;
        font-family:'Quattrocento';
        font-weight: 200;
        color: #f4ece4;
        }
        nav{
            ul{
                list-style: none;
                font-size: 10px;
                display: flex;
                li{
                    margin-right: 10px;
                    a{
                        text-decoration: none;
        color: #f4ece4;
        font-size: 15px;
                    }
                }
            }
        }
    }
    .heroSect{
        width: 100%;
        height: calc(100vh - 51px);
        background-image: url(../img/nosotros-1.jpg);
        background-position: center;
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment: fixed;
        color: #000000d8;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            width: 290px;
            height: 80px;
            padding: 10px;
            margin-top: 15px;
            background-image: url(../img/Logo-1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

        }
        p{
            font-size: 25px;
        margin-top: 50px;
        text-align: center;

        }
    }
    .gridContainer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 200px 200px;
        gap: 5px;
        div{
            img{
                width: 100%;
        height: 100%;
        object-fit: cover;

            }
            .tercer-item{
                grid-column: span 2;
            }
        }
    }

/*--PRODUCTOS-MEDIA--*/
.nuestrosProductos{
    height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    div{
        width: 300px;
        height: 225px;
        margin-left: 30px;
        h1{
            font-size: 30px;
        text-align: center;

        }
        p{
            font-size: 20px;
        text-align: center;

        }
    }
    img{
        border-radius: 4rem;
        width: 300px;
        height: 225px;

    }
}
/*--INICIO-INFO-MEDIA--*/
.infoContainer{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: rgba(0, 0, 0, 0.623);
        outline-style: double;
        background-color: #f4ece4;
        div{
            h2{
                font-weight: 600;
                font-size: 20px;
        margin-top: 10px;
        text-align: center;
            }
            p{
                font-size: 15px;
        text-align: center;
            }
        }
        img{
            width: 350px;
        height: 150px;
        }
}
/*NOSOTROS-MEDIA*/
.heroNosotros{
    height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-image: url(../img/nosotros-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    .logo{
        width: 300px;
        height: 200px;
        border-radius: 3rem;
        margin-top: 10px;
        margin-bottom: 10px;
        background-image: url(../img/Logo-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    p{
        font-weight: 800;
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
        color: black;
        text-shadow: 0px 6px 4px rgba(0,0,0,0.4);
        display: none;
    }
    h2{
        font-size: 20px;
        text-align:center;
        color: black;
    }
}
    .procesoNosotros{
        h3{
            background-color: black;
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        }
        h4{
            margin-top: 15px;
            font-size: 20px;
            text-align: center;
            font-weight: 600;
        }
        .eleccionEsencias{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div{
                p{
                    font-size: 20px;
            margin-left: 0px;
            text-align: center;
                }
            }
            img{
                border-radius: 3rem;
                width: 100%;
                height: 250px;
                margin-top: 5px;
            }
        }
        .eleccionEsenciasReverse{
            div{
                h4{
                    font-size: 25px;
                }
                p{
                    font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
                }
            }
            img{
                border-radius: 3rem;
            width: 100%;
            height: 250px;
            }
        }

        .eleccionEsenciasColumn{
            div{
                p{
                    font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
                }
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    border-radius: 4rem;
                    margin: 10px;
                    width: 220px;
                    height: 200px;
                }
        }
    }
    .eleccionEsenciasFinal{
        div{
            p{
                font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
            }
        }
        div{
            display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            img{
                border-radius: 4rem;
                    margin: 15px;
                    width: 210px;
                    height: 220px;
            }
        }
    }
    /*CONTACTO-MEDIA*/
    .formContainer{
        height: 100vh;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
        .formulario{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            background-image: url(../img/fondo-contacto.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .mb-3{
                width: 400px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
                .row{
                    width: 400px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
                }
            }
            .row{
                flex-direction: column;
            }
            .form-label{
                width: 100px;
        text-align: center;
        margin: 0;
            }
            .select{
                width: 200px;
        height: 150px;
        margin-top: 30px;
            }
            .form-floating{
                .form-control{
                    width: 200px;
        display: flex;
        flex-direction: column;
                }
            }
            .buttonContainer{
                width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
            }
        }
    }
/*UTILIZACION-MEDIA*/
.utilizacionUno{
    h2{
        margin-left: 15px;
        text-align: center;
    }
    p{
        margin-left: 10px;
        font-size: 15px;
        text-align: center;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 30px;
        list-style-type: circle;
        li{
            font-size: 20px;
        }
    }
}
.utilizacionDos{
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 25px;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: circle;
        li{
            font-size: 20px;
            margin-left: 20px;
            margin-right: 20px;
            
        }
    }
}
.utilizacionTres{
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 25px;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        list-style-type:circle;
        li{
            font-size: 20px;
        }
    }
}
}

@media screen and (max-width:320px){
    /*--INICIO-INFO-MEDIA--*/
    .infoContainer{
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-top: none;
            outline-style: none;
            background-color: #f4ece4;
            img{
                width: 320px;
            height: 150px;
            }
    }
    /*-INICIO-PRODUCTOS-MEDIA-*/
    .Productos-container{
        h2{
            font-size:25px;
        background-color: #f4ece4;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 5px;
        }
        .card-flex{
            div{
                font-size: 18px;
                width: 320px;
                border: 1px double rgb(0, 0, 0);
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: center;
                box-shadow: -7px 9px 34px 7px #e7c8aa;
                -webkit-box-shadow: -7px 9px 34px 7px #f8d4af;
                -moz-box-shadow: -7px 9px 34px 7px #f1cdae;
                background-color: #f4ece4;
                img{
                    width: 318px;
                }
            }
        }
    }
    /*NOSOTROS-MEDIA*/  
    .heroNosotros{
        height: calc(100vh - 66px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../img/nosotros-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .logo{
        width: 225px;
    height: 200px;
    border-radius: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(../img/Logo-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px -2px 62px 7px rgba(94,80,15,0.59);
    -webkit-box-shadow: 1px -2px 62px 7px rgba(94,80,15,0.59);
    -moz-box-shadow: 1px -2px 62px 7px rgba(94,80,15,0.59);
    }
    p{
        font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    color: black;
    text-shadow: 0px 6px 4px rgba(0,0,0,0.4);
    display: none;
    }
    h2{
        font-size: 18px;
    margin-top: 30px;
    font-weight: 800;
    }
    .botones{
        display: inline-block;
        div{
            width: 250px;
    height: 100px;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
            button{
                justify-content: space-between;
    width: 70px;
    height: 30px;
    font-size: 14px;
    border-radius: 0.5rem;
    background-color: #ccbcac;
            }
        }
    }
    }
}
}